
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: white;
  box-sizing: border-box;
  background-color: #f4f4f4;
  color: white;
}  

.main {
	width: 90%;
	margin: 25px auto;
	background-color: #ffcccc;
	height: 600px;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.main h1 {
	color: #30336b;
	font-size: 55px;
	text-align: center;

}

.one, .two, .three {
	width: 30%;
	background-color: #f5f6fa;
	height: 530px;
	float: left;
	margin: 20px;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	margin-top: 17px;
}

 p {
	color: #718093;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
	margin-top: 20px;
	height: 210px;
	overflow: hidden;
}

img {
	border-radius: 50%;
	
	margin-top: 40px;
	margin-left: 40px;
	object-fit: cover;

}

h2 {
	color: black;
	margin-left: 40px;
	margin-top: 10px;
}

h3 {
	color: gray;
	margin-left: 21px;
	margin-top: 5px;
}

.two h3 {
	color: gray;
	margin-left: 55px;
	margin-top: 5px;
}

.three h3 {
	color: gray;
	margin-left: 40px;
	margin-top: 5px;
}







