
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: white;
  box-sizing: border-box;
  background-color: #7ed6df;
}  

.main {
	width: 1000px;
	height: 500px;
	background-color: white;
	margin-inline: auto;
	margin-top: 70px;
	display: flex;
	flex-direction: row;
	gap: 50px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.column1 {
	margin-top: 50px;
	margin-left: 60px;
	display: grid;
}

i{
	font-size: 30px;
	background-color: white;
}

p{
	font-size: 15px;
	color: #7f8c8d;
}

.icon1{
	borde: 2px solid black;
	height: 100px;
	width: 140px;
	text-align: center;
	line-height: 25px;
	
}

.email{
	position: absolute;
	left: 220px;
}

.column2{
	height: 300px;
	width: 2px;
	border: 1px solid #bdc3c7;
	margin-top: 100px;
}

h2 {
	color: purple;
}

.column3 {
	margin-top: 50px;
	line-height: 20px;
}

.column3 p{
	margin-top: 10px;
}

.one {
	margin-top: 15px;
}

.one,.two,.three {
	width: 645px;
	margin-bottom: 20px;
	height: 40px;
	background-color: #ecf0f1;
	border: none;
	font-size: 15px;
	padding-left: 20px;

}

.three {
	position: relative;
	height: 100px;
}

button {
	height: 40px;
	width: 90px;
	color: white;
	background-color: purple;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 15px;
}

 .



